version: '3.8'

services:

  mongo-db:
    image: mongo:6.0.6
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: webchelios
      MONGO_INITDB_ROOT_PASSWORD: 97050213
    volumes:
      - ./mongo:/data/db
    ports:
      - 27017:27017
